details {
    margin: auto;
    background-color: #fff0fc;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid rgb(209, 0, 150);
}

summary {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

details[open] summary {
    color: rgb(209, 0, 150);
}