* {
    font-family: sans-serif, Arial, Helvetica;
}

*::selection {
    background-color: rgb(209, 0, 150);
    color: #fff;
}

.volver {
    display: inline-block;
    margin-top: 20px;
}

a:link {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #8000f8;
    text-decoration: underline;
}

a:hover {
    color: #00f;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 1px;
}

/* Mi mayor orgullo (ademas de tener un novio tan increible): */
.contenedor {
    box-sizing: border-box;
    background-color: #f7d9f7;
    width: 90%;
    margin: 50px auto;
    border: 5px solid rgb(209, 0, 150);
    border-radius: 50px;
    overflow: hidden;
}

body {
    background-color: #e3c2da;
    text-align: center;
    color: #000;
    text-shadow: 0px 1px 2px rgb(209, 0, 150);
}

h1, h2 {
    margin-bottom: 0px;
}

p, ul {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 20px;
}

li {
    margin-bottom: 5px;
}

hr {
    width: 100%;
    border: 2px solid rgb(209, 0, 150);
}

ul, ol {
    display: inline-block;
}