.mensaje {
    align-items: center;
    height: 130px;
    width: 250px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    right: 0;
    bottom: 50%;
    border: 3px solid rgb(209, 0, 150);
    box-shadow: 0 0 40px #0007;
    border-right: 0;
}

.h1__notificación {
    font-size: 18px;
    margin: 5px;
}

.p__notificación {
    margin: 0;
    font-size: 14px;
}

img {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 5px;
    border-radius: 50px;
    display: block;
}

img:hover {
    border-color: rgb(209, 0, 150);
    box-shadow: 0 0 10px rgb(209, 0, 150);
    transition: 0.3s;
}